<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Security</title>
</head>
<body>
<h1 th:text="${welcomeMessage}">Hello John!</h1>

<a th:if="${#authentication.isAuthenticated()}"
   th:text="|Wyloguj się ${#authentication.name}|"
   th:href="@{/logout}">Wyloguj się John</a>

<!--sec:authorize="isAuthenticated()"   insted of   th:if="${#authe...}-->

</body>
</html>